body{
     .footer {
        background-color:plum;
        padding: 20px;
      }
      
      .footer-content {
        display: flex;
        justify-content: space-between;
      }
      
      .footer-section {
        text-align: center;
      }
      
      .footer-section ul {
        list-style: none;
        padding: 0;
      }
      
      .footer-section ul li {
        margin-bottom: 10px;
      }
      
      .footer-section ul li a {
        text-decoration: none;
        color:#333;
      }
      
      .socialIcons {
        display: flex;
        justify-content: center;
      }
      
      .socialIcons  a {
        text-decoration:none;
        padding:10px;
        background-color:white;
        margin: 10px;
        border-radius:50%;
        
      }
      .socialIcons a i{
        font-size: 2em;
        color:palevioletred;
        opacity: 0.9;

      }
      /*Hover Effects on Social Media Icons*/
      .socialIcons a:hover{
        background-color:#111;
        transition:0.5s;
      }
      .socialIcons a:hover i{
        color:white;
        transition:0.5s;
      }
      
       footer {
        background-color: plum;
        padding: 20px;
      }
      
      .footer-content {
        display: flex;
        justify-content: space-between;
      }
      
      .footer-section {
        text-align: center;
      }
      
      .footer-section ul {
        list-style: none;
        padding: 0;
      }
      
      .footer-section ul li {
        margin-bottom: 10px;
      }
      
      .footer-section ul li a {
        text-decoration: none;
        color: #333;
      }
      
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      input[type="email"] {
        padding: 10px;
        border: 1px solid #ccc;
      }
      
      button {
        padding: 10px 20px;
        background-color: purple;
        color: #fff;
        border: none;
        cursor: pointer;
      }
      
      label {
        font-size: 16px;
        margin-top: 5px;
      }
      .copyright {
        text-align: center;
        margin-top: 20px;
      }
      
      
}